body
	font-family: 'Gotham Pro'
	font-size: 14px
	min-width: 360px
	background: white

img
	max-width: 100%

.block-with-shadow
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06)

// Justify content
.jcfe
	justify-content: flex-end
.jcc
	justify-content: center
.jcsb
	justify-content: space-between
.jcfs.jcfs
	justify-content: flex-start

.text-center
	text-align: center

.btn
	font-family: 'Gotham Pro'
	&--primary
		font-size: 14px
		line-height: 130%
		text-align: center
		color: #060554
		text-decoration: none
		border-radius: 2px
		padding: 9px 10px
		display: inline-block
		transition: background .2s
		background: transparent
		+rmin(768)
			font-size: 16px
			padding: 10px 24px
		&:hover
			background: #060554
			color: white
			border: 1px solid transparent

.container
	max-width: 1280px
	margin: 0 auto
	+r(1280)
		padding: 0 16px
	&--small
		+rmin(768)
			padding: 0 108px


.d-flex
	display: flex

.site-logo
	font-family: Colus
	font-size: 20px
	line-height: 130%
	letter-spacing: 0.04em
	text-decoration: none
	color: inherit
	transition: .3s ease-in font-size
	+rmin(768)
		font-size: 24px
		.is-scrolled &
			font-size: 22px
	+rmin(1280)
		font-size: 32px
		.is-scrolled &
			font-size: 30px
	&--footer
		font-size: 26px
		+rmin(768)
			font-size: 28px



.site-menu
	display: none
	align-items: center
	+rmin(1024)
		display: flex
	&__list
		display: flex
	&__sub
		&-out
			display: none
			position: absolute
			top: 100%
			left: 0px
			padding-top: 40px
			.is-scrolled &
				padding-top: 30px
	&__item
		display: flex
		margin-right: 10px
		position: relative
		+rmin(1280)
			margin-right: 18px
		&:hover
			.site-menu__sub-out
				display: block
		&:last-child
			margin-right: 0
		&.with-sub
			margin-right: 15px
			+rmin(1280)
				margin-right: 22px
			&:nth-child(7)
				margin-right: 15px
				padding-right: 15px
				border-right: 2px solid $border-color
			> a
				&:after
					content: ''
					cursor: pointer
					width: 8px
					height: 8px
					transform: rotate(45deg)
					border-color: inherit
					border: solid
					border-width: 0 1px 1px 0
					display: inline-block
					margin-left: 5px
					margin-bottom: 3px
					.is-scrolled &
						border-color: inherit
					+rmin(1280)
						margin-left: 8px
	&__link
		font-weight: 500
		font-size: 14px
		line-height: 130%
		display: flex
		color: inherit
		text-decoration: none
		display: inline-block
		+rmin(1280)
			font-size: 18px

.sub-menu
	&,
	&__sub
		background-color: white
		box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15)
		border-radius: 2px
		padding: 16px 0
		width: 276px
		transition: .2s

.sub-menu
	a
		padding-left: 16px
		padding-right: 16px
		width: 100%
		display: flex
		align-items: center
	&__link
		font-size: 18px
		line-height: 17px
		color: #063561
		text-decoration: none
	&__item
		& + li
			margin-top: 18px
		&:hover
			.sub-menu__link
				color: $border-color
			.sub-menu__sub
				display: block
		&--with-sub
			> a
				&:after
					content: ''
					cursor: pointer
					width: 8px
					height: 8px
					transform: rotate(-45deg)
					border: solid
					border-color: $border-color
					border-width: 0 1px 1px 0
					display: inline-block
					margin-left: 10px
					margin-bottom: 1px
	&__sub
		display: none
		position: absolute
		left: calc(100% + 4px)
		top: 40px
		transition: 2s
		.is-scrolled &
			top: 30px
		li
			& + li
				margin-top: 10px
		a
			font-size: 16px
			line-height: 145%
			text-decoration: underline
			color: #063561




.site-search
	margin-top: 50px
	display: none
	.search-page &
		display: block
	+rmin(1024)
		display: block
	&__row
		display: flex
		justify-content: space-between
	input[type='submit']
		font-size: 20px
		line-height: 140%
		display: flex
		align-items: center
		text-align: center
		color: #FFFFFF
		background: rgba(0, 26, 159, 0.9)
		border-radius: 4px
		padding: 13px 38px
		+r(768)
			padding: 10px 20px
			font-size: 18px
			margin-left: 10px
	p
		font-size: 16px
		line-height: 140%
		letter-spacing: 0.02em
		color: #8D9293
		margin-top: 13px
		+rmin(768)
			margin-left: 20px



.input-search
	border: 2px solid rgba(17, 27, 84, 0.5)
	border-radius: 4px
	max-width: 900px
	width: 80%
	font-size: 18px
	line-height: 140%
	color: #8D9293
	padding: 12px 20px
	height: 54px
	appearance: none
	+rmin(1280)
		width: 100%


.categories
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin-top: 40px
	+rmin(768)
		margin-top: 60px
		overflow: hidden

.cat
	flex-basis: 100%
	margin-bottom: 40px
	+rmin(768)
		flex-basis: 49%
	+rmin(1024)
		flex-basis: 32.3%
	&:nth-child(3)
		+r(768)
			margin-bottom: 186px

	&:nth-child(3n)
		.cat__title
			width: 100%
	&__title
		font-size: 20px
		line-height: 19px
		padding-bottom: 14px
		letter-spacing: 0.01em
		color: #092C4D
		border-bottom: 2px solid $border-color
		font-weight: 500
		margin-bottom: 24px
		+rmin(768)
			font-size: 32px
			padding-bottom: 20px
			line-height: 31px
			width: 105%
	&__card
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
		padding-bottom: 20px
	&__info
		font-size: 12px
		line-height: 130%
		letter-spacing: 0.08em
		color: #FFFFFF
		font-weight: bold
		margin-top: 20px
		margin-left: 28px
		&:before
			content: ''
			width: 10px
			height: 14px
			display: inline-block
			background-image: url(../img/flash.svg)
			background-repeat: no-repeat
			vertical-align: top
			margin-right: 8px
	&__content
		min-height: 280px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		display: flex
		flex-direction: column
	&__menu
		margin-top: auto
		margin-bottom: 30px
		margin-left: 15px
		li
			position: relative
			&:before
				content: ''
				width: 4px
				height: 4px
				display: inline-block
				background: white
				border-radius: 50%
				vertical-align: middle
				position: absolute
				top: 8px
				+rmin(768)
					width: 6px
					height: 6px
			& + li
				margin-top: 8px
	&__link
		font-size: 16px
		line-height: 145%
		letter-spacing: 0.02em
		text-decoration: underline
		color: #FFFFFF
		display: inline-block
		font-weight: 500
	&__footer
		margin-top: 24px
		padding-left: 14px
		padding-right: 14px
	&__btn
		border: 1px solid $border-color
		&:hover
			background: #C7AA68



.site-ad
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 40px
	height: 220px
	background: rgba(141, 146, 147, 0.2)
	+rmin(768)
		width: 97%
		max-width: 1280px
		margin-left: auto
		margin-right: auto
		border: 1px solid #063561
		border-radius: 4px
		height: 150px
		background: transparent
	p
		font-size: 38px
		line-height: 140%
		letter-spacing: 0.02em
		color: #092C4D
		font-weight: 500

.cols
	margin-bottom: 42px
	&-3
		.col
			flex-basis: 100%
			img
				max-height: 334px
				object-fit: cover
				width: 100%
			+rmin(768)
				flex-basis: 32.3%
				img
					max-height: 414px
	&-4
		.col
			flex-basis: 49%
			max-height: 160px
			margin-bottom: 8px
			img
				width: 100%
				height: 100%
				object-fit: cover
			+rmin(1024)
				flex-basis: 23.75%
				max-height: 350px
	&-7
		.col
			flex-basis: 45%
			+rmin(1280)
				flex-basis: 11.5%
	&__row
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__title
		font-weight: 500
		font-size: 20px
		line-height: 19px
		padding-bottom: 14px
		border-bottom: 2px solid $border-color
		margin-bottom: 14px
		color: $footer-color
		+rmin(768)
			font-size: 28px
			line-height: 34px
			margin-bottom: 25px
			padding-bottom: 0
			border-bottom: 0
		&--border
			border-bottom: 2px solid $border-color
			padding-bottom: 24px
	&__btn
		padding-left: 78px
		padding-right: 78px
		margin-top: 30px
		border: 1px solid $border-color
		.home &
			margin-top: 0


.tags
	&__link
		font-size: 10px
		padding: 8px 15px
		line-height: 130%
		text-align: center
		color: #063561
		display: flex
		align-items: center
		justify-content: center
		background: #F2F2F2
		text-decoration: none
		border-radius: 4px
		+rmin(768)
			font-size: 12px

.popular-tags
	display: none
	+rmin(768)
		display: block
	&__list
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
	&__item
		flex-basis: 20%
		margin-left: 5px
		margin-right: 5px
		margin-bottom: 24px

.pray-times
	.cols__title
		display: flex
		justify-content: space-between
		+rmin(768)
			display: block
			span:last-child
				display: none
	&__content
		border: 1px solid #59758F
		border-radius: 4px
		display: flex
		align-items: center
		justify-content: center
		height: 414px
		p
			font-size: 28px
			line-height: 130%
			color: #063561
			font-weight: 500

.site-footer
	background-color: $footer-color
	padding: 42px 0
	color: white
	&__top
		.cols__row
			+r(768)
				flex-direction: column
	&__logo
		+r(768)
			order: 2

	&__small-menu
		display: none
		+rmin(768)
			display: flex
	&__title
		font-family: 'Inter'
		font-weight: bold
		font-size: 18px
		line-height: 16px
		letter-spacing: 0.6px
		text-transform: uppercase
		color: #FFFFFF
		+rmin(768)
			font-size: 16px
	&__social
		display: flex
		align-items: center
		justify-content: center
		padding-bottom: 32px
		border-bottom: 2px solid rgba(165, 159, 159, 0.15)
		margin-bottom: 36px
		+rmin(768)
			justify-content: flex-end
			padding-bottom: 0
			border-bottom: none
			margin-bottom: 0
	&__social-menu
		display: flex
		margin-left: 25px
		li
			& + li
				margin-left: 20px
	&__menu
		display: flex
		align-items: center
		li + li
			margin-left: 15px
		a
			font-weight: 500
			font-size: 18px
			line-height: 17px
			color: #FFFFFF
			text-decoration: none
	&__text
		p
			font-size: 12px
			line-height: 130%
			color: rgba(255, 255, 255, 0.7)
		+rmin(768)
			display: none


.footer-menu
	.col
		+rmin(768)
			&:nth-last-child(-n+3)
				display: none

	.col + .col
		+rmin(1280)
			margin-left: 16px
	&__title
		font-weight: 500
		font-size: 20px
		line-height: 130%
		color: #D7BE7C
		display: inline-block
		margin-bottom: 15px
		text-decoration: none
	&__sub
		display: none
		+rmin(1280)
			display: block
		li
			max-width: 145px
			& + li
				margin-top: 12px
		a
			font-family: 'Inter'
			font-size: 12px
			line-height: 140%
			color: #FFFFFF
			text-decoration: none


.popular-searches
	+rmin(768)
		margin-left: 20px
		margin-top: 30px
	&__title
		font-size: 14px
		font-weight: 500
		line-height: 130%
		letter-spacing: 0.04em
		color: #063561
		margin-bottom: 16px
		+rmin(768)
			font-size: 16px
	&__subtitle
		font-size: 14px
		font-weight: 500
		line-height: 130%
		color: #063561
		margin-bottom: 10px
		+rmin(768)
			font-size: 18px
			margin-bottom: 5px
	&__list
		display: flex
		flex-wrap: wrap
		max-width: 900px
		margin-bottom: 20px
		&--date
			.popular-searches__link
				text-decoration: underline
		li
			margin-right: 32px
			margin-bottom: 10px
			.popular-searches--cat &
				+r(768)
					margin-right: 16px
	&__link
		font-size: 22px
		line-height: 145%
		color: #1B65A9
		text-decoration: none
		&--mob-small
			font-size: 14px
			text-decoration: underline
			+rmin(768)
				font-size: 22px
		+rmin(768)
			font-size: 18px
		&:hover
			color: #771726

.search-articles
	padding: 0
	+rmin(768)
		padding: 0 20px


.search-section
	padding-bottom: 30px
	margin-bottom: 50px
	&__title
		display: none
		font-weight: 500
		font-size: 24px
		line-height: 130%
		color: #063561
		margin-bottom: 30px
		+rmin(768)
			display: block
	&__link
		padding: 0 20px
		margin-top: 60px
		margin-bottom: -60px
		+r(768)
			padding: 0
		a
			font-size: 16px
			line-height: 15px
			color: #063561
			text-decoration: none
			&:hover
				color: $link-hover-color

.search-article
	padding-top: 40px
	border-top: 1px solid #DA9A1D
	margin-top: 40px
	&__title
		font-weight: 700
		font-size: 28px
		line-height: 27px
		letter-spacing: 0.01em
		color: #063561
		margin-bottom: 20px
	&__text
		font-size: 20px
		line-height: 150%
		color: #131212
		margin-bottom: 24px
	&__footer
		display: flex
		justify-content: space-between
	&__cat
		font-weight: 500
		font-size: 18px
		line-height: 150%
		color: #C9CBCC
	&__link
		font-size: 20px
		line-height: 130%
		color: #1B65A9
		text-decoration: none
		&:after
			content: ''
			background-image: url(../img/search-arrow-right.svg)
			width: 6px
			height: 10px
			display: inline-block
			margin-left: 6px
			vertical-align: middle




.subcats
	+rmin(768)
		margin: 50px 45px 50px 100px
.subcat
	margin-bottom: 40px
	& + .subcat
		+rmin(768)
			border-left: 2px solid rgba(141, 146, 147, 0.2)
			padding-left: 60px
			margin-bottom: 0
	&__title
		margin-bottom: 20px
		a
			font-weight: 500
			font-size: 24px
			line-height: 130%
			color: #063561
			text-decoration: none
			&:after
				content: ''
				width: 14px
				height: 22px
				display: inline-block
				margin-left: 17px
				background-image: url(../img/arrow-right.svg)
				background-repeat: no-repeat
				vertical-align: middle
	&__list
		li
			margin-bottom: 10px
	&__link
		font-weight: 500
		font-size: 16px
		line-height: 145%
		letter-spacing: 0.02em
		text-decoration: underline
		color: #1B65A9
		&:hover
			text-decoration: none

.btn-more
	width: 220px
	border: 1px solid #060554
	display: flex
	align-items: center
	justify-content: center
	background: transparent
	font-size: 16px
	+rmin(768)
		width: 414px
		font-size: 14px
	&--small
		width: 320px

.show-more-block
	display: flex
	justify-content: center
	margin-bottom: 40px
	&--mt
		margin-top: 50px


.post,
.video
	+r(768)
		&:nth-child(n+4)
			display: none



.post,
.video
	background: #FEFEFE
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
	margin-bottom: 40px
	.cols__row
		flex-wrap: wrap
	&__content
		padding: 16px
	&__title
		margin-bottom: 8px
		a
			font-weight: 500
			font-size: 22px
			line-height: 115%
			color: #063561
			text-decoration: none
	&__img
		max-height: 200px
		overflow: hidden
		img
			max-width: 100%
	&__text
		font-family: 'Inter'
		font-size: 14px
		line-height: 140%
		color: #3C3D3E
		opacity: 0.85
	&__footer
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 20px
	&__meta
		a
			font-weight: 500
			font-size: 12px
			line-height: 140%
			color: #C9CBCC
			margin-right: 8px
			text-decoration: none
			& + a
				border-left: 1px solid #C9CBCC
				padding-left: 8px
	&__views
		display: flex
		align-items: center
		span
			font-weight: 500
			font-size: 10px
			line-height: 130%
			text-align: right
			color: #C9CBCC
			margin-left: 8px

.video
	.home &
		box-shadow: none
		margin-bottom: 30px
	&__title
		max-width: 280px
		font-size: 20px
	&__footer
		margin-top: 10px


.article
	&__header
		box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.06)
		&-in
			display: flex
			align-items: center
			padding: 20px 0 40px 0
			justify-content: space-between
			+rmin(768)
				flex-wrap: nowrap
				padding: 20px 10px 40px 10px
				justify-content: flex-start
		&-left
			display: flex
			flex-direction: column-reverse
			+rmin(768)
				flex-direction: row
		&-author
			display: flex
			align-items: center
			margin-bottom: 23px
			+rmin(768)
				margin-bottom: 0
	&__main
		display: flex
		justify-content: space-between
		padding: 50px 0
		+r(1024)
			padding-bottom: 0
	&__content
		+rmin(1024)
			width: 840px
			.about &
				width: 760px
	&__in
		padding-bottom: 24px
		border-bottom: 2px solid rgba(141, 146, 147, 0.2)
		margin-bottom: 40px
		+rmin(1024)
			padding-right: 80px
	&__sidebar
		flex-basis: 335px
	&__share
		display: none
		+rmin(1280)
			display: block
		li
			text-align: center
			display: flex
			flex-direction: column
			align-items: center
			a
				width: 30px
				height: 30px
				display: flex
				justify-content: center
				align-items: center
			&:not(:last-child):after
				content: ''
				width: 20px
				height: 1px
				background: rgba(141, 146, 147, 0.2)
				display: inline-block
				margin: 6px 0
		.icon-whatsapp
			width: 17px
			height: 17px
		.icon-ok
			width: 12px
			height: 20px
		.icon-vk
			width: 20px
			height: 12px
	&__meta
		display: flex
		align-items: center
		flex-direction: column-reverse
		+rmin(768)
			flex-direction: row
	&__views
		margin-right: 0
		display: flex
		align-items: center
		span
			font-size: 10px
			margin-left: 6px
		+rmin(768)
			display: block
			margin-right: 40px
			span
				font-size: 14px
				margin-left: 0
	&__date
		font-size: 10px
		line-height: 150%
		color: rgba(13, 45, 66, 0.8)
		display: flex
		align-items: center
		margin-bottom: 40px
		span
			margin-left: 3px
		+rmin(768)
			font-size: 12px
			display: block
			margin-bottom: 0
			span
				margin-left: 0
	&__author
		&-text
			+rmin(768)
				margin-right: 20px
			+rmin(1024)
				margin-right: 130px
		&-text,
		.article__views span
			font-size: 12px
			line-height: 130%
			letter-spacing: 0.02em
			color: #063561
			+rmin(768)
				font-size: 14px
		&-img
			margin-right: 10px
			background: rgba(219, 176, 92, 0.5)
			border-radius: 65px
			width: 34px
			height: 34px
			display: flex
			align-items: center
			justify-content: center
			flex-shrink: 0
			+rmin(768)
				width: 64px
				height: 64px
				margin-right: 44px
			.article__footer &
				width: 52px
				height: 52px
				+rmin(768)
					width: 68px
					height: 68px
					float: left
					margin-right: 16px
				img
					width: 46px
					height: 46px
					+rmin(768)
						width: 60px
						height: 60px
			img
				border-radius: 100%
				width: 30px
				height: 30px
				object-fit: cover
				max-width: none
				+rmin(768)
					width: 56px
					height: 56px
	&__text
		> p
			margin-bottom: 30px
			font-family: 'Inter'
			font-size: 16px
			line-height: 24px
			color: #131212
			opacity: 0.8
		strong
			font-family: 'Gotham Pro'
			font-weight: 500
			font-size: 18px
			line-height: 145%
			color: #063561
			margin-bottom: 4px
		h3
			font-size: 20px
			font-weight: 500
			line-height: 25px
			color: #063561
			margin-bottom: 15px
			+rmin(768)
				font-size: 22px
	&__comments
		+r(1024)
			display: none
	&__suggested
		background: rgba(141, 146, 147, 0.08)
		padding: 20px 24px
		margin-bottom: 30px
		p
			font-weight: 500
			font-size: 14px
			line-height: 15px
			color: #3C3D3E
			margin-bottom: 20px
		ul
			display: flex
			align-items: center
		li
			display: flex
			width: 50%
			+r(768)
				width: 100%
				&:last-child
					display: none
		a
			font-family: 'Inter'
			font-size: 16px
			line-height: 24px
			text-decoration: underline
			color: #1B65A9
			opacity: 0.8
			max-width: 210px
		img
			width: 72px
			height: 72px
			margin-right: 16px
			+rmin(768)
				width: 62px
				height: 70px
	&__questions
		background: linear-gradient(98.12deg, #409DD7 0.46%, #2E94D3 100%)
		border-radius: 2px
		padding: 20px 32px
		display: flex
		align-items: center
		margin-bottom: 32px
		+r(768)
			position: relative
			flex-direction: column
			text-align: center
		&-icon
			margin-right: 22px
			+r(768)
				position: absolute
				right: 17%
				bottom: 25px
		.icon-telegram
			width: 35px
			height: 30px
			fill: white
		&-text
			max-width: 300px
			+r(768)
				margin-bottom: 18px
			p
				font-size: 12px
				line-height: 130%
				letter-spacing: 0.01em
				color: #FFFFFF
			strong
				font-weight: 500
				font-size: 20px
				line-height: 130%
				letter-spacing: 0.04em
				color: #FFFFFF
				margin-bottom: 10px
				display: inline-block
		&-btn
			margin-left: auto
			button
				background: #FFFFFF
				box-shadow: 0px 6px 6px rgba(13, 129, 201, 0.75)
				border-radius: 4px
				padding: 13.5px 27px
				font-family: 'gotham pro'
				font-weight: 300
				font-size: 14px
				line-height: 130%
				letter-spacing: 0.01em
				color: #1B65A9
	&__footer
		display: flex
		flex-wrap: wrap
		align-items: center
		+rmin(768)
			display: block
		&__author
			line-height: 130%
			letter-spacing: 0.02em
			color: #063561
			font-size: 16px
			+rmin(768)
				margin-bottom: 15px
				font-size: 14px
	&__tags
		display: block
		margin-top: 20px
		width: 100%
		+rmin(768)
			margin-top: 0
			display: flex
			align-items: baseline
			width: auto
		span
			font-weight: 500
			font-size: 16px
			line-height: 130%
			letter-spacing: 0.02em
			color: #063561
			margin-right: 8px
			float: left
		ul
			li
				margin-right: 12px
				margin-bottom: 14px
				display: inline-block



.breadcrumbs
	display: flex
	align-items: center
	margin-right: 22px
	.single-page &
		+r(768)
			&:after
				content: none
	&:after
		content: ''
		width: 2px
		height: 32px
		background: rgba(141, 146, 147, 0.2)
		display: inline-block
		margin-left: 18px
	li
		font-weight: 500
		font-size: 12px
		line-height: 130%
		letter-spacing: 0.04em
		color: #063561
		display: flex
		align-items: center
		+rmin(768)
			font-size: 16px
		&:not(:last-child):after
			content: ''
			cursor: pointer
			width: 6px
			height: 6px
			transform: rotate(-45deg)
			border-style: solid
			border-color: #0D2D42
			border-width: 0 1px 1px 0
			display: inline-block
			margin-left: 9px
			margin-right: 9px
			+rmin(768)
				width: 8px
				height: 8px
				border-width: 0 2px 2px 0
				margin-left: 13px
				margin-right: 13px

		a
			color: #9A9FA2
			+r(768)
				text-decoration: none


.single,
.about
	&__bottom
		background: #F8F9FA
		padding: 50px 0
	.video-slider
		a
			margin-top: 15px
			display: inline-block
			font-weight: 500
			font-size: 20px
			line-height: 130%
			color: #063561


.sidebar
	+r(1024)
		display: none
	&__widget
		margin-bottom: 52px
	&__title
		font-family: Colus
		font-size: 24px
		line-height: 25px
		color: #152046
		margin-bottom: 25px
	ul
		counter-reset: count
		li
			margin-bottom: 30px
			&:before
				counter-increment: count
				content: "0" counter(count)
				font-family: Colus
				font-size: 26px
				line-height: 25px
				color: #C7AA68
				margin-right: 8px
				margin-bottom: 10px
				display: inline-block
		a
			font-family: 'Source Serif Pro'
			font-size: 18px
			line-height: 145%
			color: #131212
			display: block
		strong
			font-family: Colus
			font-size: 10px
			line-height: 25px
			color: #8D9293



.slick-arrow
	width: 40px
	height: 40px
	background: #C4C4C4
	border-radius: 4px
	font-size: 0
	position: absolute
	top: -90px
	right: 0
	&:hover
		background: $footer-color

.slick-prev
	right: 50px

.slick-next
	transform: rotate(180deg)



.remembers
	overflow: hidden
	&__slider
		overflow: hidden
		margin-bottom: 24px
		+rmin(768)
			display: none

	.slick-list
		padding: 0 40px
	.slick-slide
		margin-right: -20px

	&__slide
		width: auto
		margin-right: 40px

	&__img
		display: none
		+rmin(768)
			display: inline-block

.video-slider
	.cols__btn
		display: none
		+rmin(768)
			display: inline-block
	&__in
		.video
			iframe
				width: 100%
				+rmin(768)
					width: auto
			p
				font-family: 'Inter';
				font-weight: 600
				font-size: 18px
				line-height: 145%
				text-align: center;
				color: #000000
				margin-top: 24px
				+rmin(768)
					display: none

	&__nav
		+rmin(768)
			display: none
		.video
			margin-left: -20px
			max-width: 140px
			p
				margin-top: 6px
				font-family: 'Inter'
				font-weight: 500
				font-size: 12px
				line-height: 130%
				color: #000000


.socials
	background: #FFFFFF
	border: 1px solid rgba(141, 146, 147, 0.2)
	border-radius: 2px
	text-align: center
	padding: 20px 25px
	margin-bottom: 30px
	+rmin(768)
		display: none
	&--absolute
		position: absolute
		width: 90%
		left: 50%
		transform: translateX(-50%)
	ul
		margin-left: 0
		justify-content: center
	p
		font-weight: 500
		font-size: 14px
		line-height: 140%
		color: #063561
		margin-bottom: 20px

.mobile-breadcrumbs
	display: flex
	align-items: center
	margin-top: 25px
	margin-bottom: 22px
	+rmin(768)
		display: none
	li
		font-weight: 500
		font-size: 12px
		line-height: 130%
		letter-spacing: 0.04em
		color: #0D2D42
		& + li
			margin-left: 9px
		a
			color: rgba(13, 45, 66, 0.7)
			text-decoration: none
			&:after
				content: ''
				cursor: pointer
				width: 6px
				height: 6px
				transform: rotate(-45deg)
				border-style: solid
				border-color: #0D2D42
				border-width: 0 1px 1px 0
				display: inline-block
				margin-left: 5px
				margin-bottom: 1px



.slick-dots
	display: flex
	align-items: center
	justify-content: center
	margin: auto
	li
		& + li
			margin-left: 6px
	button
		font-size: 0
		width: 6px
		height: 6px
		background: #C4C4C4
		border-radius: 100%
		display: inline-block
	.slick-active button
		background: $footer-color

.cols-slider
	.col
		+r(1280)
			padding: 0 10px
		+r(768)
			padding: 0
		img
			width: 100%
			max-width: 300px
		p
			+rmin(768)
				margin-top: 22px
		a
			font-weight: 500
			font-size: 20px
			line-height: 130%
			color: #063561
			text-decoration: none
	+r(768)
		.slick-slide
			margin-right: 10px
		.col
			margin-left: -10%
			height: 226px
			max-width: 300px
			position: relative
			img
				width: 100%
				height: 100%
				object-fit: cover
			p
				position: absolute
				bottom: 20px
				left: 16px
				right: 10px
			a
				font-size: 18px
				font-weight: 700
				color: white

.fatwas
	&__num
		margin-bottom: 20px
		.slick-slide
			margin: 0 20px
		.slick-list
			width: 100%
		.slick-track
			width: auto
	.slick-dots
		margin-top: 20px
	&--mob
		+rmin(1024)
			display: none
	&__goto
		font-size: 14px
		line-height: 130%
		color: #063561
		display: block
		text-decoration: none
		text-align: center
		margin-top: 32px
		&:after
			content: ''
			cursor: pointer
			width: 10px
			height: 10px
			transform: rotate(-45deg)
			border-style: solid
			border-color: $border-color
			border-width: 0 2px 2px 0
			display: inline-block
			margin-left: 3px
	&__link
		font-family: 'Source Serif Pro'
		font-size: 18px
		line-height: 145%
		color: #131212
		display: block
		text-decoration: none
	&__number
		font-family: Colus
		font-size: 26px
		line-height: 25px
		color: #C7AA68
		.slick-current &
			color: #3C3D3E


.mobile-comments
	img
		width: 100%
	+rmin(1024)
		display: none
