{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": ["prettier"],
  "rules": {
    "dollar-sign/dollar-sign": [2, "ignoreProperties"],
    "no-unused-vars": 1
  }
}
