---
bodyClass: about single-page
headerSingle: true
title: О коллективе редакций сайта
aboutText: islamcivil.ru
---
extends layouts/_layout
block content
	article.article
		header.article__header
			.container
				.article__header-in
					ul.breadcrumbs
						li: a(href="") Главная
						li Шариат
					.article__meta
						.article__author-img
							img(src="img/article-author.jpg", alt="")
						.article__author-text
							span Автор: <br> Мавлудин Караханов
						.article__views
							p: +icon('views')
							span 2К просмотров
						.article__date
							span Дата <br> 28.04.2018
		.container
			.article__main
				ul.article__share
					each s in ['fb', 'instagram', 'vk', 'whatsapp', 'telegram', 'ok']
						li: a(href=""): +icon(s)
				.article__content
					.article__text
						p: strong С Именем Аллаха, Милостивого и Милосердного.
						p: strong Хвала Аллаху, Господу миров. Мир и благословение Его посланнику Мухаммаду, его семье, сподвижникам и всем, кто последовал за ним до Судного дня.
						p Мы рады сообщить об открытии сайта «Исламская цивилизация». Дизайн и функционал старой версии сайта был полностью изменён, а команда, работавшая над ним, пополнилась новыми братьями, приобретающими исламские знания.
						p С этого дня мы с помощью Аллаха будем работать в новом режиме. Сайт будет стабильно обновляться работами, равномерно распределёнными по основным тематическим разделам: Акида, Фикх, Шариат, Фетвы,  Аналитика, Общество, и История.
						blockquote Коллектив редакции нашего сайта не принадлежит к какой-либо группе, партии или джамаату. Мы – мусульмане, абсолютно свободные от любых политических или идеологических концепций, связанных с интересами ограниченных групп. Цель нашей работы – распространение достоверной информации и знаний об исламе.
						p Наши убеждения соответствуют убеждениям первых поколений мусульман, заслуживших похвалу Посланника Аллаха (мир ему и благословение Аллаха), выраженных в известных трудах известных имамов, таких, как: <br> «Шарху с-сунна» Исмаиля ибн Яхья Аль-Музани (ум. 264 г.) <br> «Акидату ахли с-суннати ва ль-джамаа» Абу Исы ат-Тирмизи (ум. 279 г.) <br> «Китабу т-тавхид» Абу Бакра ибн Хузейма (ум. 311 г.) <br> «Китабу и’тикади ахли с-сунна» Абу Бакра аль-Исмаили (ум. 371 г.) <br> «Акидату с-саляфи ва асхаби ль-хадис» Абу Усмана ас-Сабуни (ум. 449 г.) <br> труды Ибн Абду ль-Барра аль-Малики (ум. 463 г.) <br> «Шарху усули и’тикади ахли с-суннати ва ль-джамаа» <br> Абу ль-Касима Аль-Лялякаи ум. 472 г.) <br> «Люм’ату ль-и’тикад» Ибн Кудамы аль-Макдиси (ум. 620 г.) <br> труды Абу ль-Аббаса ибн Таймийя (ум. 728 г.) и его учеников <br> «Таджриду т-тавхиди ль-муфид» Такийю д-Дина аль-Макризи (ум. 845 г.) <br> «Шарху ль-акидати т-тахавийя» Ибн аби ль-Изза аль-Ханафи (ум. 792 г.) <br> и других имамов, да помилует их всех Аллах.

						p Основной упор работы сайта будет сделан на распространение шариатских положений, однако при этом мы постараемся давать и аналитику, связанную с положением окружающего нас общества. Таким образом, мы надеемся найти баланс между научностью и ситуационным анализом.

						p Также мы постараемся распространять правильные исламские убеждения, которые выражаются сердцем, языком и внешним проявлением; показывать связь правильных убеждений с поведением мусульманина, не зацикливаясь лишь на теоретических положениях. Большое внимание будет уделяться вопросам, относительно которых получили распространение различные заблуждения и неверное понимание.


						p Собственные работы-исследования как по акиде, так и по фикху по большей части будут опираться на труды и мнения признанных учёных прошлого.

						p Фикх (исламское право) – будет одним из центральных направлений работы сайта. Одна из идей нашего ресурса – популяризация фикха учёных прошлого – известных имамов и их последователей, школам (мазхабам) которых будет придаваться главенствующее значение над работами современников. Это конечно же не означает, что мы не будем использовать труды признанных современных учёных.

						p Также коллектив братьев, работающих над сайтом, поставил целью заполнение пробелов в распространении положений шариата в рунете. В частности, мы постараемся освещать вопросы, связанные с повседневной деятельностью мусульманина, которая не находит должного отражения в работе русскоязычных исламских сайтов. Речь идёт о разделе «муамалят» исламского права, включающего в себя ахкамы (правовые положения), связанные с торговлей, браком, экономикой, политикой, государством, уголовным правом, судейством и другими разделами муамалят. Также мы постараемся раскрыть суть шариата Всевышнего Аллаха в общем – в виде его целей и мудростей, сущности его законов, их реального практического превосходства над всеми правовыми системами, выдуманными людьми, и популяризировать исламские науки, такие, как «Усуль аль-фикх», «Улюму ль-хадис», «Улюму ль-Куръан», «Аль-каваиду ль-фикхийя», «Макасыду ш-шариа» и другие. Этим темам будет посвящена отдельная рубрика – «Шариат».

						p Также мы постараемся повлиять на популярную в последнее время в рунете тенденцию, в соответствии с которой исламская молодёжь воспитываются в духе неприязненных в основе отношений друг к другу, фундаментом которых является подозрение и излишняя щепетильность, не приводящая к декларируемому результату. Мы изначально отказываемся от методологии обязательного тестирования и поиска ошибок учёных и проповедников. Поскольку этого больше чем достаточно в интернете, наш сайт будет направлен на формирование позитивного, созидательного образа мусульманина с привитием правильных убеждений, знаний и модели поведения, вместо беспорядочных опровержений на всё, с чем мы по тем или иным причинам не можем согласиться. Мы не делим учёных, известных своей приверженностью к Сунне, и твёрдо держимся за принцип, выраженный имамом Маликом (рахимахуЛлах), о том, что от каждого принимается и отвергается, кроме Посланника Аллаха (мир ему и благословение Аллаха).

						p Для удобного пользования сайтом мы постарались представить функциональный интерфейс, где каждый пользователь может легко и быстро найти информацию по нужной для него теме. Для этого предусмотрена удобная меточная система, по которой пользователи могут ориентироваться в нужной тематике или авторах.

						p Мы будем рады любым замечаниям читателей в отношении нашей работы: как по дизайну и функционалу сайта, так и по освещаемой тематике, — в соответствии со словами Посланника Аллаха (мир ему и благословение Аллаха): «Религия – это наставление».

						p Просим Всевышнего Аллаха сделать нас искренними в этой работе и сделать её целью желание заслужить Его довольство и награду. Амин. Просим братьев и сестёр дуа за всех, кто работает на нашем сайте. Также мы приглашаем к сотрудничеству всех желающих, обладающих шариатскими знаниями и владеющих русским языком. Надеемся, что сайт будет полезным исламу и мусульманам.

						p: strong Вся хвала принадлежит Аллаху, Господу миров.

						p Редакция сайта «Исламская цивилизация»

				aside.article__sidebar.sidebar
					.sidebar__widget.article__namaz
						img(src="img/namaz.png", alt="")
					.sidebar__widget.article__ad
						img(src="img/rek.png", alt="")
					.sidebar__widget.article__fatwas
						p.sidebar__title фетвы
						ul
							each f in [1, 2, 3, 4, 5]
								li: a(href="") Шейх Мухаммад Салих аль-Мунаджид: Шариатская позиция в отношении работ Саида Кутба.
					.sidebar__widget.artilce__popular
						p.sidebar__title Популярные статьи
						ul
							each p in [['шариат', 'И’тикаф и всё, что с ним связано'], ['Фикх', 'Можно ли постящемуся есть и пить во время азана?'], ['Акида', '«Закон постепенности» в Коране и Сунне'], ['История', 'Входят ли ангелы в дом, в котором женщина без платка?'], ['Общество', 'Степени использования Шариатского послабления']]
								li
									strong= p[0]
									p: a(href="")= p[1]
