---
bodyClass: home
title: Index Page
---
extends layouts/_layout
block content
	.container.container--small
		include partials/_searchbar

	.container
		section.categories
			each cat in [['Акида', 'Намаз за неизвестным', 'Акыда в наследии саляфов', 'Весь Коран – это Таухид'], ['Фикх', 'Таравих – выстаивание ночей в Рамадане', 'Можно ли есть и пить во время азана?', 'Закату-ль-фитр. Основные нормы'], ['Шариат', 'Права человека и права Аллаха', 'Шариатские приоритеты в поклонении', 'Как делать выбор в Шариатских вопросах'], ['Общество', 'Я узнал тебя по голосу', 'Пророк Мухаммад - лучший из людей', 'Солнце, воздух и вода - наши лучшие друзья?'], ['Аналитика', 'Уходящий 2015-ый', 'Те, чье имя не называем', 'Аресты саудовских учёных более всего ударят по Мусульманам мира'], ['История', 'История хиджазской дороги', 'История хиджазской дороги', 'Как делать выбор в Шариатских вопросах']]
				.cat
					p.cat__title= cat[0]
					.cat__card
						.cat__content(style="background-image: url(img/cat.jpeg)")
							p.cat__info Новые статьи
							ul.cat__menu
								each c in cat.slice(1)
									li: a.cat__link(href="")= c
						.cat__footer
							a.cat__btn.btn.btn--primary(href="") Перейти в раздел
	section.site-ad
		p Реклама
	.container
		section.cols.cols-3
			.cols__row
				.col.popular-tags
					p.cols__title Популярные теги
					ul.popular-tags__list.tags
						-for (let i = 0; i < 6; i++)
							-let tags = ['Поклонение', 'Рамадан', 'Мечеть', 'Фикх']
							if (i % 2 == 0)
								each tag in tags
									li.popular-tags__item: a.tags__link.popular-tags__link(href="")= tag
							else
								each tag in tags.reverse()
									li.popular-tags__item: a.tags__link.popular-tags__link(href="")= tag
				.col.remembers
					p.cols__title Напоминания
					img.remembers__img(src="img/remember.png", alt="")
					.remembers__slider
						each i in [1, 2, 3, 4, 5]
							div
								img.remembers__slide(src="img/remember.png", alt="")


				.col.pray-times
					p.cols__title Время намаза
					.pray-times__content
						p Вот здесь
		.cols.cols-4
			p.cols__title.cols__title--border Популярные темы
			.cols__row
				each t in [1, 2, 3, 4]
					.col
						img(src=`img/pop${t}.png`, alt="")
		.cols
			p.cols__title.cols__title--border Видео
			.cols-slider
				each t in [1, 2, 3, 4, 5, 6]
					.col.video
						iframe(height="220" src="https://www.youtube.com/embed/nsIoAJo2M1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			a.btn.btn--primary.cols__btn(href="") Перейти в раздел










