---
bodyClass: search
headerWithSocial: true
title: Поиск
countText: материала
---
extends layouts/_layout
block content
	section.search-section
		.container.container--small
			include partials/_searchbar
			section.search-section__link: a(href="") Результаты поиска



	section.search-results
		.container.container--small
			.search-articles
				each a in [['Напоминания о последних десяти ночах рамадана', 'Когда проходит большая часть рамадана или большая часть последних десяти ночей, большинство людей проявляет небрежность по отношению к оставшимся ночам, при том, что вероятнее всего в них кроется ляйлят-уль-кадр. В хадисе, переданном от Муавии, да будет доволен им Аллах, говорится, что Пророк, мир ему и благословение Аллаха, сказал: «Ищите ляйлят-уль-кадр в последней ночи рамадана»... ', 'Фикх'], ['Войдёт ли в рай без отчета тот, кто умер в рамадане?', 'Вопрос: Такой вопрос: Посланник – мир ему и благословение Аллаха! – говорит: «Когда наступает Рамадан, открываются врата Рая, закрываются врата Ада и заковывают шайтанов». Означает ли это, что умерший в Рамадане войдёт в Рай без отчета о содеянном?....', 'Фикх'], ['Семья и рамадан', 'Перевод фатвы, касающейся семьи в Рамадан с сайта шейха Мухаммада Салиха аль-Мунаджида islam-qa.com. Вопрос: Я являюсь главой семейства. Вот уже наступил Рамадан. Каким образом мне следует осуществлять заботу о своей семье и о её воспитании в течение этого благородного месяца?....', 'Шариат'], ['10 способов получить максимум пользы от рамадана', '«Рамадан — лучший из всех месяцев года», сказал Пророк (мир ему и благословение). Что же помогает успешно провести Рамадан и как получить максимум пользы? 1. Сильная и осознанная вера. 2. Понимание сути и достоинства этого месяца, его смыслы и чему он нас учит. 3. Решимость, искреннее намерение и воля....', 'Акида']]
					article.search-article
						p.search-article__title= a[0]
						p.search-article__text= a[1]
						footer.search-article__footer
							span.search-article__cat= a[2]
							a.search-article__link(href="") Читать полностью
				.show-more-block.text-center.show-more-block--mt
					button.btn.btn--primary.btn-more.btn-more--small Показать еще
