.site-footer
	.container
		.cols.cols-3
			.col
				a.site-logo.site-logo--footer(href="/") islamcivil.ru
			.col
				span Мы в соцсетях
				include ./_footer-social
			.col
				ul.site-footer__menu
					each i in ['Видео', 'О нас', 'Архив']
						li= i
		.cols.cols-7.footer-menu
			each col in [['Акида', 'Фундаментальное', 'Мировозрение', 'Научное', 'Тасаввуф', 'Заблуждения'], ['Фикх', 'Торговые отношения', 'Семейные отношения', 'Поклонения (\'ибада)', 'Уголовное право и судейство'], ['Шариат', 'Усуль - аль - фикх', 'Наука Хадиса', 'Наука Корана', 'Мазхабы'], ['Аналитика', 'В мире', 'В России', 'В Дагестане '], ['История', 'Жизнь Пророка мир ему', 'Биографии учёных', 'История Дагестана', 'История Халифата', 'Истории пророков'], ['Общество', 'Воспитательное'], ['Библиотека', 'Список']]
				.col
					p.footer-menu__title= col[0]
					ul.footer-menu__sub
						each c in col.slice(1)
							li= c


