ul.site-footer__social
	li: a(href="")
		svg(width='30', height='30', viewBox='0 0 30 30', fill='none', xmlns='http://www.w3.org/2000/svg')
			rect(width='30', height='30', rx='4', fill='#4267B2')
			path(d='M16.0013 24.9999V15.8769H19.0636L19.522 12.3216H16.0013V10.0516C16.0013 9.02223 16.2872 8.32068 17.7634 8.32068L19.6461 8.31981V5.13994C19.3204 5.09677 18.2029 5 16.9027 5C14.1883 5 12.3299 6.65682 12.3299 9.69964V12.3217H9.25977V15.877H12.3298V25L16.0013 24.9999Z', fill='white')
	li: a(href="")
		svg(width='30', height='30', fill='none', xmlns='http://www.w3.org/2000/svg')
			defs
				lineargradient#paint0_linear(x1='30', x2='0', y2='30', gradientUnits='userSpaceOnUse')
					stop(stop-color='#6034DC')
					stop(offset='.51', stop-color='#DE421F')
					stop(offset='1', stop-color='#F4C82B')
			rect(width='30', height='30', rx='4', fill='url(#paint0_linear)')
			path(d='M12 15a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-1.621 0a4.621 4.621 0 1 0 9.243 0 4.621 4.621 0 0 0-9.243 0zm8.346-4.805a1.08 1.08 0 1 0 1.08-1.08 1.08 1.08 0 0 0-1.08 1.08zm-7.36 12.13c-.878-.04-1.355-.185-1.672-.309a2.797 2.797 0 0 1-1.035-.673 2.777 2.777 0 0 1-.674-1.035c-.123-.316-.27-.793-.31-1.67-.043-.95-.052-1.235-.052-3.638 0-2.403.01-2.688.053-3.637.04-.877.187-1.354.31-1.671.163-.42.358-.72.673-1.036.314-.315.614-.51 1.035-.673.317-.123.794-.27 1.671-.31.949-.043 1.234-.052 3.636-.052 2.403 0 2.688.01 3.638.053.877.04 1.353.187 1.671.31.42.162.72.358 1.035.672.316.315.51.615.673 1.036.124.316.27.793.31 1.671.044.95.052 1.234.052 3.637 0 2.404-.008 2.688-.052 3.637-.04.878-.187 1.354-.31 1.671-.163.42-.358.72-.673 1.035-.315.314-.615.51-1.035.673-.317.124-.794.27-1.671.31-.95.043-1.234.052-3.638.052-2.403 0-2.687-.009-3.636-.052zm-.075-16.27c-.958.043-1.613.195-2.185.418A4.415 4.415 0 0 0 7.511 7.51c-.501.5-.809 1.002-1.038 1.594-.223.572-.375 1.226-.418 2.184C6.01 12.25 6 12.556 6 15s.01 2.75.055 3.71c.043.959.195 1.613.418 2.185A4.4 4.4 0 0 0 7.51 22.49c.5.5 1.002.808 1.594 1.038.573.223 1.226.375 2.185.418.96.044 1.266.055 3.71.055 2.445 0 2.751-.01 3.711-.055.958-.043 1.613-.195 2.185-.418a4.426 4.426 0 0 0 1.594-1.038c.501-.5.808-1.002 1.038-1.594.223-.572.375-1.226.418-2.184.044-.96.054-1.267.054-3.711s-.01-2.75-.054-3.71c-.043-.959-.195-1.613-.418-2.185A4.425 4.425 0 0 0 22.49 7.51c-.5-.501-1.002-.809-1.594-1.038-.573-.223-1.227-.376-2.184-.418-.96-.044-1.267-.055-3.71-.055-2.445 0-2.752.01-3.712.054z', fill='#fff')

	li: a(href="")
		svg(width='30', height='30', viewBox='0 0 30 30', fill='none', xmlns='http://www.w3.org/2000/svg')
			rect(width='30', height='30', rx='4', fill='#419FD9')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M18.5131 20.9822C19.4218 21.3797 19.7625 20.5468 19.7625 20.5468L22.1667 8.46928C22.1477 7.65528 21.0498 8.14746 21.0498 8.14746L7.59039 13.429C7.59039 13.429 6.94676 13.6562 7.00355 14.0537C7.06034 14.4512 7.57146 14.6405 7.57146 14.6405L10.96 15.7764C10.96 15.7764 11.9822 19.127 12.1904 19.7706C12.3797 20.3953 12.5501 20.4143 12.5501 20.4143C12.7394 20.49 12.9098 20.3575 12.9098 20.3575L15.1057 18.3698L18.5131 20.9822ZM19.0997 10.6084C19.0997 10.6084 19.573 10.3244 19.554 10.6084C19.554 10.6084 19.6297 10.6462 19.3836 10.9113C19.1565 11.1384 13.7992 15.9467 13.0799 16.5903C13.0231 16.6282 12.9852 16.685 12.9852 16.7607L12.777 18.5402C12.7391 18.7295 12.493 18.7484 12.4363 18.578L11.5465 15.6628C11.5087 15.5492 11.5465 15.4167 11.6601 15.3409L19.0997 10.6084Z', fill='white')
