.site-footer
	.container
		.cols.cols-3
			.cols__row
				.col
					a.site-logo.site-logo--footer(href="/") islamcivil.ru
				.col.site-footer__social.jcfe
					span.site-footer__title Мы в соцсетях
					include ./_footer-social
				.col.d-flex.jcc
					ul.site-footer__menu
						each i in ['Видео', 'О нас', 'Архив']
							li: a(href="")= i
		.cols.cols-7.footer-menu
			.cols__row.jcfs
				each col in [['Акида', 'Фундаментальное', 'Мировозрение', 'Научное', 'Тасаввуф', 'Заблуждения'], ['Фикх', 'Торговые отношения', 'Семейные отношения', 'Поклонения (\'ибада)', 'Уголовное право и судейство'], ['Шариат', 'Усуль - аль - фикх', 'Наука Хадиса', 'Наука Корана', 'Мазхабы'], ['Аналитика', 'В мире', 'В России', 'В Дагестане '], ['История', 'Жизнь Пророка мир ему', 'Биографии учёных', 'История Дагестана', 'История Халифата', 'Истории пророков'], ['Общество', 'Воспитательное'], ['Библиотека', 'Список']]
					.col
						p.footer-menu__title= col[0]
						ul.footer-menu__sub
							each c in col.slice(1)
								li: a(href="")= c


