.sticky
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 150
	color: #fff
	.is-scrolled &
		background: white
		color: black
		border-bottom: 1px solid #ebebeb

.site-header
	padding-top: 50px
	padding-bottom: 12px
	background-image: linear-gradient(0deg, rgba(14, 13, 13, 0.4), rgba(14, 13, 13, 0.4)), url(../img/cat-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height: 210px
	+rmin(768)
		min-height: 284px
		padding-bottom: 38px
	&--extended
		+rmin(768)
			min-height: 420px
			.site-header__meta
				margin-top: 38px
				margin-left: 0
		.site-header__info
			display: block
	.home &
		min-height: 530px
		background-image: url(../img/slider.jpg)
		+rmin(1024)
			min-height: 750px
	.single &,
	.about &
		min-height: 310px
		background-image: url(../img/single-header-bg.jpg)
		+rmin(768)
			min-height: 450px
		.site-header__info
			display: block
			max-width: 700px
	.about &
		background-image: url(../img/about-bg.jpeg)
	&__search-icon
		svg
			width: 17px
			height: 17px

	&__search-icon,
	&__menu-icon
		cursor: pointer
		background: transparent
		display: inline-block
		color: white
		+rmin(1024)
			display: none
		svg,
		svg path
			fill: white
			.is-scrolled &
				fill: black
	&__subtitle
		font-size: 14px
		font-weight: 500
		line-height: 27px
		letter-spacing: 0.01em
		color: #FFFFFF
		margin-top: 10px
		+rmin(768)
			font-size: 28px
			margin-top: 20px
	&__top
		align-items: center
		padding-top: 5px
		border-bottom: 2px solid $border-color
		height: 56px
		transition: .3s ease all
		.is-scrolled &
			border-bottom: 0
		+rmin(768)
			height: 116px
			padding-top: 15px
			.is-scrolled &
				height: 80px
				padding-top: 0
		+rmin(1024)
			padding-left: 0
			padding-right: 0
	&__info
		margin-top: 50px
		display: flex
		flex-direction: column
		+rmin(768)
			flex-direction: row
			margin-top: 115px
	&__title
		font-size: 24px
		font-weight: 700
		line-height: 130%
		color: #FFFFFF
		margin-bottom: 15px
		+rmin(768)
			font-size: 48px
			margin-bottom: 0
		.about &
			font-weight: 500
			font-size: 34px
			line-height: 145%
			color: #FFFFFF
	&__text
		font-weight: 500
		font-size: 18px
		line-height: 135%
		letter-spacing: 0.01em
		color: #FFFFFF
		max-width: 810px
		+r(768)
			display: none
	&__meta
		display: flex
		padding: 10px 0
		border-top: 1px solid $border-color
		border-bottom: 1px solid $border-color
		+rmin(768)
			margin-left: 40px
			max-width: 320px
	&__posts-count
		font-weight: 500
		font-size: 12px
		line-height: 130%
		letter-spacing: 0.04em
		color: #FFFFFF
		display: flex
		align-items: center
		&:after
			content: ''
			width: 1px
			height: 20px
			background: $border-color
			opacity: 0.5
			display: inline-block
			vertical-align: middle
			margin: 0 16px
	&__share
		display: flex
		align-items: center
		li
			width: 24px
			height: 24px
			display: flex
			justify-content: center
			align-items: center
			+rmin(768)
				width: 26px
				height: 26px
			& + li
				margin-left: 20px
				+rmin(768)
				margin-left: 16px
		svg
			fill: white
		.icon-vk
			width: 17px
			height: 10px
		.icon-telegram
			width: 13px
			height: 11px
