.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.64em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
